.firstSquare{
    background-color: rgb(76, 39, 126);
    width: 55vw;
    padding-right: 7px;
    text-align: right;
    position: relative;
    top: 200px;
    left: -55vw;
    animation-name: teste;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes teste{
    from {left: -55vw;}
    to { left: 0px;}
}


.firstSquare p{
    color: white;
    font-size: 120px;
}
.secondSquare{
    background-color: rgb(76, 39, 126);
    width: 55vw;
    text-align: left;
    top: 600px;
    float: right;
    position: relative;
    top: 200px;
    padding-left: 7px;
    right: -55vw;
    animation-name: teste2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes teste2{
    from {right: -55vw;}
    to {right: 0px;}
}

.secondSquare p{
    color: white;
    font-size: 60px;
}

